@{
    ViewBag.Title = "MARVEL";
}
<div class="jumbotron jumbotron-fluid" style="opacity:1.0; background-image: url(https://i.imgur.com/YPBnXKE.jpg)">
    <div class="container">
        <div class="container-fluid align-center" style="opacity:10; background-color:white">
            <h2 class="text-center">@ViewBag.Title</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <div class="card table-bordered" style="width:300px; background-color:white">
                    <img class="card-image-top" src="https://www.screengeek.net/wp-content/uploads/2017/04/avengers-4.png" style="width:300px;">
                    <div class="card-body">
                        <div class="card-header"><h5 class="card-title">Fase 1</h5></div>
                        <p class="card-text">
                            A MARVEL divide seus filmes em "fases", sendo o fim da primeira com o filme dos Vingadores.
                           
                        </p>
                        <a href="#" class="btn btn-primary">Filmes da Fase 1</a>
                    </div>
                </div>
            </div>
        <div class="col-lg-4">
            <div class="card table-bordered" style="width:300px; background-color:white">
                <img class="card-image-top" src="http://identity-mag.com/wp-content/uploads/2015/05/The-Avengers-Age-of-Ultron-movie-wallpaper.jpg" style="width:300px;">
                <div class="card-body">
                    <div class="card-header"><h5 class="card-title">Fase 1</h5></div>
                    <p class="card-text">
                        A Segunda Fase começa com Homem de Ferro 3 e termina com Os Vingadores: Era de Ultron.
                    </p>
                    <a href="#" class="btn btn-primary">Filmes da Fase 2</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card table-bordered" style="width:300px; background-color:white">
                <img class="card-image-top" src="https://boygeniusreport.files.wordpress.com/2018/04/avengers-infinity-war3.jpg?quality=98&strip=all&w=782" style="width:300px;">
                <div class="card-body">
                    <div class="card-header"><h5 class="card-title">Fase 3</h5></div>
                    <p class="card-text">
                        A Terceira Fase começa com Capitão América: Guerra civíl e termina com Vingadores: Guerra infinita(parte 2).
                    </p>
                    <a href="#" class="card-button btn btn-primary">Filmes da Fase 3</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />