@{
    ViewBag.Title = "Inicio";
}
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<div class="conteiner">
    <div class="row">
        <div class="col col-lg-12 jumbotron">
            <div class="card-header text-center"><span class="badge badge-primary" style="background-color: #1faddb"><h1>O Nerd Contemporâneo</h1></span></div><br /><hr />
            <div class="col">
                <div class="col text-center">
                    <span class="badge badge-light" style="background-color: #1faddb">
                        <p class="col" >
                            Desde o começo do século XXI, a era dos super-herois só veio aumentando e a tendencia <br /> é cada vez mais  mostrar ao público boas histórias adaptadas de Histórias em Quadrinhos.<br />
                            <br />E neste site iremos mostrar a você os melhores filmes de cada studio.
                        </p>
                    </span>
                </div>
            </div><br /><hr />
            @*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
            <div class="col col-lg-6">
                <div class="card table-bordered" style="width: 475px;">
                    <ul class="list-group group-flush">
                        <li class="list-group-item">
                            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/1200px-MarvelLogo.svg.png" alt="Card image cap" style=" width:453px; height:auto; padding-top: 11em;">
                            <div class="card-body">
                                <h5 class="card-tittle">MARVEL:</h5><hr />
                                <p class="card-text" style="text-emphasis-color: red">A Marvel foi fundada em 1939, conhecida como "A casa das idéias", é dela que se tem varios personagem conhecidos como: Homem de Ferro, Capitão América, Thor entre outros...</p>
                                <a href="https://www.marvel.com/" target="_blank" class="btn btn-primary">Site da Marvel</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            @*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
            <div class="col col-lg-6">
                <div class="card table-bordered" style="width: 475px;">
                    <ul class="list-group group-flush">
                        <li class="list-group-item">
                            <img class="card-img-top" src="http://2.bp.blogspot.com/-nOIOC9e8E7w/Tx2w_CI-wII/AAAAAAAAAhc/DZefT3pFaVQ/s1600/DC-Comics-x-Logo-Wide-560x282.jpg" alt="Card image cap" style="width:453px; height:auto; padding-top:6em;">
                            <div class="card-body">
                                <h5 class="card-tittle">DC:</h5><hr />
                                <p class="card-text" style="text-emphasis-color: red">A DC foi fundada em 1934, conhecida como "A casa das Lendas", é ela que tem os varios personagem conhecidos da cultura Pop como: Batman, Superman, Mulher-Maravilha entre outros...</p>
                                <a href="https://www.dccomics.com/" target="_blank" class="btn btn-primary">Site da DC</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>